.introduction {
  margin: 0 auto;
  max-width: 1017px;
  width: 95%;
}
.introduction__title {
  margin-top: 92px;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.04;
}
.introduction__text {
  margin-top: 32px;
  max-width: 720px;
  font-size: 16px;
  line-height: 1.6;
}
.quote_cite {
  margin-top: 0;
  text-align: right;
}
.intro__cite {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.125rem;
  max-width: 45rem;
}
@media screen and (max-width: 1024px) {
  .introduction {
    width: 93.6%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .introduction__title {
    margin-top: 88px;
  }
}

@media screen and (max-width: 656px) {
  .introduction {
    width: 90%;
  }
  .introduction__title {
    margin-top: 44px;
    font-size: 32px;
    line-height: 1.09;
  }
  .introduction__text {
    margin-top: 18px;
  }
}
