.place-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .place {
    margin: 80px auto 0;
    max-width: 1060px;
    width: 76.5%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
    grid-template-areas:
      "title artist"
      "image text"
      "button text";
    column-gap: 40px;
    row-gap: 48px;
    justify-items: flex-start;
    align-items: flex-end;
  }

  .place__title {
    grid-area: title;
    width: 100%;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.06;
  }

  .place__artist {
    grid-area: artist;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    justify-content: left;
  }

  .place__artist-name {
    color: #aaa;
    font-size: 12px;
    letter-spacing: 0.12em;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  .place__artist-name::after {
    content: "\a";
    white-space: pre-line;
  }

  .place__image {
    grid-area: image;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .place__text {
    -ms-grid-row-span: 2;
    grid-area: text;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-self: flex-start;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
  }
  
  @media screen and (max-width: 1024px) {
    .place {
      width: 93.6%;
      margin: 72px auto 0;
      -webkit-column-gap: 28px;
      -moz-column-gap: 28px;
      column-gap: 28px;
    }
    .place__title {
        font-size: 42px;
    }
    .place__text {
        row-gap: 13px;
    }
  }
  
  @media screen and (max-width: 656px) {
    .place {
      margin: 50px auto 0;
      width: 90.5%;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "artist"
        "image"
        "text"
        "button";
      row-gap: 22px;
    }
    .place__title {
        font-size: 32px;
        line-height: 1.08;
    }
    .place__artist {
        padding-top: 8px;
    }
    .place__image {
        width: 110%;
        justify-self: center;
    }
  }